<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.amquest.mapper.ActionDefMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  action_def 
		WHERE
			 quest_fk = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.amquest.entity.ActionDef">
		SELECT * 
		FROM  action_def
		WHERE
			 quest_fk = #{mainId} 	</select>
</mapper>
